manifest.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    xmlns:ewp="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    elementFormDefault="qualified"

    targetNamespace="https://github.com/erasmus-without-paper/ewp-specs-api-discovery/tree/stable-v3"
    xmlns="https://github.com/erasmus-without-paper/ewp-specs-api-discovery/tree/stable-v3"
>
    <xs:import
        schemaLocation="http://www.w3.org/2001/03/xml.xsd"
        namespace="http://www.w3.org/XML/1998/namespace"
    />

    <xs:import
        schemaLocation="https://raw.githubusercontent.com/erasmus-without-paper/ewp-specs-architecture/stable-v1/common-types.xsd"
        namespace="https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/stable-v1/common-types.xsd"
    />

    <xs:annotation>
        <xs:documentation>
            This schema is a part of the Erasmus Without Paper project. Before you start
            using it, make sure you have read the general rules described here:

            http://developers.erasmuswithoutpaper.eu/
        </xs:documentation>
    </xs:annotation>

    <xs:element name="manifest">
        <xs:annotation>
            <xs:documentation>
                EWP Discovery Manifest.

                Manifest files are published by EWP Partners and help define relationships
                between EWP Hosts, their developers, clients, HEIs and API Servers.

                Manifest files are usually read by the EWP Registry Service only.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element ref="ewp:admin-email" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            RECOMMENDED element. Address of a developer or server administrator who may be
                            contacted in case of problems (e.g. invalid Manifest file, invalid certificates,
                            server errors, etc.). Multiple addresses may be provided.

                            Please note, that additional `admin-email` elements can also be included inside
                            specific APIs sections.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="ewp:admin-notes" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Additional information provided by administrators and/or developers of this
                            host for Registry maintainers and client developers. Must be provided in English.

                            E.g. "This host is a DEMO server. We plan to keep it online for testing.".
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element ref="apis-implemented" minOccurs="0"/>
                <xs:element name="institutions-covered" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            A list of HEIs (Higher Education Institutions) that are covered by this host.

                            Enlisting an institution here indicates that the host wants to receive queries
                            regarding this institution and will be able to understand them. If this list is
                            empty then the host is likely to not receive any queries at all.

                            Be advised, that the Registry Service MAY ignore some (or all) of the items
                            submitted here, for example if it finds that some institutions are already
                            covered by a different EWP Host. If, for some reason, your items are not being
                            imported, and you're not sure why, please contact the Registry Service
                            maintainers.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element ref="hei" minOccurs="0" maxOccurs="unbounded" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="client-credentials-in-use" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            The list of client credentials used by this host to make requests to
                            other EWP hosts.

                            You should have this element present if you intend to perform requests within
                            the EWP Network. However, it's worth noting, that not having it is also valid
                            (if you want your EWP Host to be "server only").

                            Be advised, that the Registry Service MAY ignore some (or all) of the
                            credentials submitted here, for example if it finds they do not meet proper
                            security standards. If, for some reason, your credentials are not being
                            imported, and you're not sure why, please contact the Registry Service
                            administrators.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="certificate" minOccurs="0" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Base64-encoded X.509 certificate. This MAY be a self-signed certificate.

                                        Having self-signed certificates installed in developers' browsers might make
                                        development and debugging significantly easier (it will allow developers to
                                        make EWP requests directly in their browsers). However, it is NOT RECOMMENDED
                                        to use them in production environment.

                                        IMPORTANT SECURITY NOTE: If your private key is compromised, you MUST
                                        immediatelly remove all certificates based on this key from your manifest.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:annotation>
                                        <xs:documentation>
                                            Base64-encoded X.509 certificate.
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleContent>
                                        <xs:extension base="xs:base64Binary">
                                            <xs:attribute name="fingerprint" use="optional">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        X.509 certificate's SHA-256 thumbprint. This attribute is optional, the
                                                        Registry Service can compute it on itself.
                                                    </xs:documentation>
                                                </xs:annotation>
                                                <xs:simpleType>
                                                    <xs:restriction base="xs:string">
                                                        <xs:pattern value="[0-9a-f]{40}"/>
                                                    </xs:restriction>
                                                </xs:simpleType>
                                            </xs:attribute>
                                        </xs:extension>
                                    </xs:simpleContent>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="apis-implemented">
        <xs:annotation>
            <xs:documentation>
                This section describes all APIs implemented by a particular EWP host.

                Please note, that each API can be implemented a multiple number of times.
                Usually, you will have only a single entry for each of your APIs, but there are
                some use cases when serving two or more different versions of the same API is
                desirable. More background and discussion here:
                https://github.com/erasmus-without-paper/ewp-specs-architecture/issues/6
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="discovery" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            If this element is present, then the host states that it implements the EWP
                            Discovery API (which means that it hosts a manifest file you are reading about
                            just now). Implementing Discovery API is mandatory (hence, this element is a
                            required one).
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:complexContent>
                            <xs:extension base="ewp:ManifestApiEntryBase">
                                <xs:sequence>
                                    <xs:element name="url" type="ewp:HTTPS">
                                        <xs:annotation>
                                            <xs:documentation>
                                                An URL at which the Discovery Manifest can be found.

                                                This URL MUST match the URL submitted to the EWP Registry. Currently, you
                                                cannot move your Manifest to other location simply by updating this element -
                                                you'll need to contact the EWP Registry maintainers to do that.
                                            </xs:documentation>
                                        </xs:annotation>
                                    </xs:element>
                                </xs:sequence>
                            </xs:extension>
                        </xs:complexContent>
                    </xs:complexType>
                </xs:element>
                <xs:any namespace="##other" minOccurs="0" maxOccurs="unbounded" processContents="lax">
                    <xs:annotation>
                        <xs:documentation>
                            Manifest entries for each of the APIs are defined in separate schemas, within
                            repositories describing these APIs (usually in a file named `manifest-entry.xsd`).

                            We allow for the manifest to describe external APIs too (unrelated to the EWP
                            Project, but compatible with the EWP Network). It is RECOMMENDED that all such
                            APIs are documented in a similar fashion to the one used within the EWP
                            Project (and their manifest entries SHOULD extend the `ApiEntry` complexType
                            defined below, but it not required).
                        </xs:documentation>
                    </xs:annotation>
                </xs:any>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:element name="hei">
        <xs:annotation>
            <xs:documentation>
                Briefly describes a single Higher Education Institution (HEI).

                These elements are included here in order to allow the clients to identify the
                HEI (with various types of identifiers).
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="other-id" minOccurs="0" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            SCHAC identifier (provided in the `id` attribute described below) is the
                            primary HEI identifier, but manifest authors are encourages to provide all
                            identifiers they can think of. (Otherwise, other EWP Hosts may not be able to
                            recognize their HEIs.)
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:simpleContent>
                            <xs:extension base="xs:string">
                                <xs:attribute name="type" use="required">
                                    <xs:annotation>
                                        <xs:documentation>
                                            Identifier type. Manifest authors are advised to use the types provided in the
                                            enumeration (case sensitive), but custom identifier types are also allowed.
                                        </xs:documentation>
                                    </xs:annotation>
                                    <xs:simpleType>
                                        <xs:restriction base="xs:string">
                                            <xs:enumeration value="previous-schac">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        A previously used SCHAC identifier. Manifest authors MUST provide all SCHAC
                                                        identifiers their HEI have used in the past.

                                                        https://github.com/erasmus-without-paper/ewp-specs-api-discovery/issues/4
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="pic">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        PIC identifier.

                                                        https://ec.europa.eu/research/participants/portal/desktop/en/organisations/register.html
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:enumeration value="erasmus">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        Erasmus institutional code.
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:enumeration>
                                            <xs:pattern value=".*">
                                                <xs:annotation>
                                                    <xs:documentation>
                                                        Manifest authors can also have any number of custom identifier types.
                                                    </xs:documentation>
                                                </xs:annotation>
                                            </xs:pattern>
                                        </xs:restriction>
                                    </xs:simpleType>
                                </xs:attribute>
                            </xs:extension>
                        </xs:simpleContent>
                    </xs:complexType>
                </xs:element>
                <xs:element name="name" type="ewp:StringWithOptionalLang" maxOccurs="unbounded">
                    <xs:annotation>
                        <xs:documentation>
                            The name of the institution. May be provided in multiple languages.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
            </xs:sequence>
            <xs:attribute name="id" type="xs:string" use="required">
                <xs:annotation>
                    <xs:documentation>
                        SCHAC identifier of this HEI. As described in the SCHAC documentation for the
                        "schacHomeOrganization" element (e.g. "uw.edu.pl").

                        This attribute is REQUIRED. Manifest authors need to acquire a proper SCHAC
                        identifier for all HEIs they intend to add to their manifest (acquiring them
                        manually is usually quite simple).
                    </xs:documentation>
                </xs:annotation>
            </xs:attribute>
        </xs:complexType>
    </xs:element>
</xs:schema>
