schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
    xmlns:xml="http://www.w3.org/XML/1998/namespace"
    elementFormDefault="qualified"

    targetNamespace="https://github.com/erasmus-without-paper/ewp-specs-api-discovery/tree/stable-WRTODO"
    xmlns="https://github.com/erasmus-without-paper/ewp-specs-api-discovery/tree/stable-WRTODO"
>
    <xs:import
        schemaLocation="http://www.w3.org/2001/03/xml.xsd"
        namespace="http://www.w3.org/XML/1998/namespace"
    />

    <xs:annotation>
        <xs:documentation>
            This schema is a part of the Erasmus Without Paper project. Before you start
            using it, make sure you have read the general rules described here:

            http://developers.erasmuswithoutpaper.eu/
        </xs:documentation>
    </xs:annotation>

    <xs:element name="manifest">
        <xs:annotation>
            <xs:documentation>
                EWP Discovery Manifest.

                Manifest files are published by EWP Partners and help define relationships
                between EWP Hosts, their developers, clients, HEIs and API Servers.

                Manifest files are usually read by the EWP Registry Service only.
            </xs:documentation>
        </xs:annotation>
        <xs:complexType>
            <xs:sequence>
                <xs:element name="dev-email" minOccurs="0" maxOccurs="unbounded" type="Email">
                    <xs:annotation>
                        <xs:documentation>
                            RECOMMENDED element. Address of a developer (or server administrator) who may be
                            contacted in case of problems (e.g. invalid Manifest file, invalid certificates,
                            server errors, etc.). Multiple addresses may be provided.

                            Please note, that additional `dev-email` elements are available inside specific
                            APIs sections.
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="dev-notes" minOccurs="0">
                    <xs:annotation>
                        <xs:documentation>
                            Additional information provided by administrators and/or developers of this
                            host for Registry maintainers and client developers. Must be provided in English.

                            E.g. "This host is a DEMO server. We plan to keep it online for testing.".
                        </xs:documentation>
                    </xs:annotation>
                </xs:element>
                <xs:element name="apis-implemented">
                    <xs:annotation>
                        <xs:documentation>
                            This section describes all APIs which have been implemented by this EWP host.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="discovery" type="DiscoveryApiEntry">
                                <xs:annotation>
                                    <xs:documentation>
                                        If this element is present, then the host states that it implements the
                                        EWP Discovery API (which means that it hosts a manifest file you are reading
                                        about just now).

                                        The Discovery API is the only API that is required. Implementing it is one of
                                        the requirements of becoming an EWP Host.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:any namespace="##other" maxOccurs="unbounded" processContents="strict">
                                <xs:annotation>
                                    <xs:documentation>
                                        We allow for the manifest to describe external APIs too (unrelated to the EWP
                                        Project, but compatible with the EWP Network). It is RECOMMENDED that all such
                                        APIs are documented in a similar fashion to the one used within the EWP
                                        Project.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:any>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="heis-covered">
                    <xs:annotation>
                        <xs:documentation>
                            A list of HEIs (Higher Education Institutions) that are covered by this host.

                            Enlisting an institution here indicates that the host wants to receive queries
                            regarding this institution and will be able to understand them. If this list is
                            empty then the host is likely to not receive any queries at all.
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="hei">
                                <xs:annotation>
                                    <xs:documentation>
                                        Describes a single HEI (Higher Education Institution) "covered" by this host.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element name="schac-id" type="xs:string">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    SCHAC identifier of this HEI. As described in the SCHAC documentation for the
                                                    "schacHomeOrganization" element (e.g. "uw.edu.pl").

                                                    This element is REQUIRED. Whenever you add a new HEI to the Manifest, you'll
                                                    need to generate a proper SCHAC identifier for this HEI. Simply use your "best
                                                    guess".

                                                    More information can be found here:
                                                    https://github.com/erasmus-without-paper/ewp-specs-architecture/blob/master/README.md#schac-identifiers
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                        <xs:element name="other-id" minOccurs="0" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    These elements are optional, but you SHOULD provide all the identifiers you
                                                    can. This will help the EWP Registry to maintain its HEI identifiers mapping
                                                    (and, in turn, allow other EWP Hosts to recognize your HEIs).
                                                </xs:documentation>
                                            </xs:annotation>
                                            <xs:complexType>
                                                <xs:simpleContent>
                                                    <xs:extension base="xs:string">
                                                        <xs:attribute name="type" use="required">
                                                            <xs:annotation>
                                                                <xs:documentation>
                                                                    Identifier type. Common identifier types are provided in the enumeration.
                                                                </xs:documentation>
                                                            </xs:annotation>
                                                            <xs:simpleType>
                                                                <xs:restriction base="xs:string">
                                                                    <xs:enumeration value="pic">
                                                                        <xs:annotation>
                                                                            <xs:documentation>
                                                                                PIC identifier.

                                                                                https://ec.europa.eu/research/participants/portal/desktop/en/organisations/register.html
                                                                            </xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:enumeration>
                                                                    <xs:enumeration value="erasmus">
                                                                        <xs:annotation>
                                                                            <xs:documentation>
                                                                                Erasmus institutional code.
                                                                            </xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:enumeration>
                                                                    <xs:pattern value=".*">
                                                                        <xs:annotation>
                                                                            <xs:documentation>
                                                                                You can also have any number of custom identifier types.
                                                                            </xs:documentation>
                                                                        </xs:annotation>
                                                                    </xs:pattern>
                                                                </xs:restriction>
                                                            </xs:simpleType>
                                                        </xs:attribute>
                                                    </xs:extension>
                                                </xs:simpleContent>
                                            </xs:complexType>
                                        </xs:element>
                                        <xs:element name="name" type="StringWithOptionalLang" maxOccurs="unbounded">
                                            <xs:annotation>
                                                <xs:documentation>
                                                    The name of the institution. May be provided in multiple languages.
                                                </xs:documentation>
                                            </xs:annotation>
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element name="client-certificates-used">
                    <xs:annotation>
                        <xs:documentation>
                            The list of SSL *client* certificates used by this host to make requests to
                            other EWP hosts.

                            You should provide at least one certificate (or domain) if you intend to
                            perform requests within EWP Network. However, having no client certificates
                            listed here is also valid (if you want this host to be a server only).

                            More about security: http://developers.erasmuswithoutpaper.eu/
                        </xs:documentation>
                    </xs:annotation>
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="certificate" type="X509Certificate" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        Base64-encoded X.509 certificate. This MAY be a self-signed certificate.

                                        Having self-signed certificates installed in developers' browsers might make
                                        development and debugging significantly easier. (It will allow developers to
                                        make EWP requests directly in their browsers.) However, it is NOT RECOMMENDED
                                        to use specific certificates in production environment (use the &lt;domain&gt;
                                        elements instead).

                                        You MAY provide multiple certificates.
                                    </xs:documentation>
                                </xs:annotation>
                            </xs:element>
                            <xs:element name="domain" maxOccurs="unbounded">
                                <xs:annotation>
                                    <xs:documentation>
                                        This element indicates that the host will be using client certificate(s) bound
                                        to the given domain name (the X.509 certificate will have a "DNS Name" entry
                                        matching this domain).

                                        You MAY provide multiple domain names.
                                    </xs:documentation>
                                </xs:annotation>
                                <xs:simpleType>
                                    <xs:restriction base="xs:string">
                                        <xs:pattern value="[a-zA-Z0-9\-_.]+"></xs:pattern>
                                    </xs:restriction>
                                </xs:simpleType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>

    <xs:simpleType name="HTTP-or-HTTPS">
        <xs:annotation>
            <xs:documentation>
                Any HTTP URL (secure HTTPS is also accepted).
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="https?://.+" />
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="HTTPS">
        <xs:annotation>
            <xs:documentation>
                Secure (HTTPS) URL.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:anyURI">
            <xs:pattern value="https://.+" />
        </xs:restriction>
    </xs:simpleType>

    <xs:complexType name="ApiEntry">
        <xs:annotation>
            <xs:documentation>
                A common base type for children of the `apis-implemented` element.

                Clients MUST NOT assume that all children of `apis-implemented` will "inherit"
                these properties.
            </xs:documentation>
        </xs:annotation>
        <xs:sequence>
            <xs:element name="version">
                <xs:annotation>
                    <xs:documentation>
                        The API version number the host claims its implementation of this API conforms
                        to. Host implementers MUST make sure that this number is kept in sync with their
                        implementations.

                        E.g. If you have used the `1.1.3` release of some API when you have implemented
                        your endpoint, then you SHOULD put `1.1.3` here. If you put `1.2.0` here later
                        on, then it means that you have just implemented some new `1.2.0` features (and
                        you want to let other clients know that you have implemented them).

                        Use `0.0.0` if you're implementing a draft API, which has not been officially
                        released yet and doesn't yet have a version number.
                    </xs:documentation>
                </xs:annotation>
                <xs:simpleType>
                    <xs:restriction base="xs:string">
                        <xs:pattern value="[0-9]+\.[0-9]+\.[0-9]+"/>
                    </xs:restriction>
                </xs:simpleType>
            </xs:element>
            <xs:element name="dev-email" minOccurs="0" maxOccurs="unbounded" type="Email">
                <xs:annotation>
                    <xs:documentation>
                        RECOMMENDED element. Address of a developer (or server administrator) who may
                        be contacted in case of problems *with this particular API* (e.g. malformed
                        responses, etc.). Multiple addresses may be provided.
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
            <xs:element name="dev-notes" minOccurs="0">
                <xs:annotation>
                    <xs:documentation>
                        Additional information provided by host developers for the client developers.

                        E.g. "We are currently not delivering &lt;description&gt; elements because our
                        model is incompatible with the `1.1.3` schema. We will start to deliver them
                        once we upgrade to the `1.2.0` schema."
                    </xs:documentation>
                </xs:annotation>
            </xs:element>
        </xs:sequence>
    </xs:complexType>

    <xs:complexType name="DiscoveryApiEntry">
        <xs:complexContent>
            <xs:extension base="ApiEntry">
                <xs:sequence>
                    <xs:element name="url" type="HTTPS">
                        <xs:annotation>
                            <xs:documentation>
                                An URL at which the Discovery Manifest can be found.

                                This URL MUST match the URL submitted to the EWP Registry. Currently, you
                                cannot move your Manifest to other location simply by updating this element -
                                you'll need to contact the EWP Registry maintainers to do that.
                            </xs:documentation>
                        </xs:annotation>
                    </xs:element>
                </xs:sequence>
            </xs:extension>
        </xs:complexContent>
    </xs:complexType>

    <xs:complexType name="StringWithOptionalLang">
        <xs:annotation>
            <xs:documentation>
                A string with an optional (but RECOMMENDED) xml:lang attribute. It is used in
                places where a name of some entity can be provided in multiple languages.
            </xs:documentation>
        </xs:annotation>
        <xs:simpleContent>
            <xs:extension base="xs:string">
                <xs:attribute ref="xml:lang" use="optional" />
            </xs:extension>
        </xs:simpleContent>
    </xs:complexType>

    <xs:simpleType name="Email">
        <xs:annotation>
            <xs:documentation>
                A simple pattern for email address.
            </xs:documentation>
        </xs:annotation>
        <xs:restriction base="xs:string">
            <xs:pattern value="[^@]+@[^\.]+\..+"></xs:pattern>
        </xs:restriction>
    </xs:simpleType>

    <xs:simpleType name="X509Certificate">
        <xs:restriction base="xs:base64Binary"/>
    </xs:simpleType>
</xs:schema>
